In [ ]:
%pip install DBcm --upgrade

In [ ]:
import DBcm

In [ ]:
db_details = "CoachDB.sqlite3"

In [ ]:
with DBcm.UseDatabase(db_details) as db:
    db.execute("pragma table_list")
    results = db.fetchall()

In [ ]:
results

In [ ]:
SQL = """
 select time()
"""

with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)
    results = db.fetchall()
results

In [ ]:
SQL = """
 select time()
"""

with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)
    results = db.fetchone()
results

In [ ]:
with DBcm.UseDatabase(db_details) as db:
    SQL = """
        create table if not exists swimmers (
            id integer not null primary key autoincrement,
            name varchar(32) not null,
            age integer not null
        )
    """
    SQL_1 = """
        create table if not exists events (
        id integer not null primary key autoincrement,
        distance varchar(16) not null,
        stroke varchar(16) not null
        )
    """
    SQL_2 = """
        create table if not exists times (
            swimmer_id integer not null,
            event_id integer not null,
            time varchar(16) not null, 
            ts timestamp default current_timestamp
        )
    """
    db.execute(SQL)
    db.execute(SQL_1)
    db.execute(SQL_2)

In [ ]:
with DBcm.UseDatabase(db_details) as db:
    db.execute("pragma table_list")
    results = db.fetchall()
results

In [ ]:
import DBcm

db_details = "CoachDB.sqlite3"

In [51]:
SQL_INSERT = """
    insert into swimmers
    (name, age)
    values
    (?, ?)
"""

In [52]:
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL_INSERT, (name, age,))

NameError: name 'name' is not defined

In [53]:
SQL = """
    create table if not exists swimmers (
        id integer not null primary key autoincrement,
        name varchar(32) not null,
        age integer not null
    )    
"""
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)

In [54]:
with DBcm.UseDatabase(db_details) as db:
    db.execute("pragma table_list")
    results = db.fetchall()
results

[('main', 'times', 'table', 4, 0, 0),
 ('main', 'events', 'table', 3, 0, 0),
 ('main', 'sqlite_sequence', 'table', 2, 0, 0),
 ('main', 'swimmers', 'table', 3, 0, 0),
 ('main', 'sqlite_schema', 'table', 5, 0, 0),
 ('temp', 'sqlite_temp_schema', 'table', 5, 0, 0)]

In [55]:
with DBcm.UseDatabase(db_details) as db:
    SQL_1 = """
        create table if not exists events (
            id integer not null primary key autoincrement,
            distance varchar(16) not null,
            stroke varchar(16) not null
        )
    """
    SQL_2 = """
        create table if not exists times (
            swimmer_id integer not null,  
            event_id integer not null,
            time varchar(16) not null,
            ts timestamp default current_timestamp
        )
    """
    db.execute(SQL_1)
    db.execute(SQL_2)

In [56]:
with DBcm.UseDatabase(db_details) as db:
    db.execute("pragma table_list")
    results = db.fetchall()
results

[('main', 'times', 'table', 4, 0, 0),
 ('main', 'events', 'table', 3, 0, 0),
 ('main', 'sqlite_sequence', 'table', 2, 0, 0),
 ('main', 'swimmers', 'table', 3, 0, 0),
 ('main', 'sqlite_schema', 'table', 5, 0, 0),
 ('temp', 'sqlite_temp_schema', 'table', 5, 0, 0)]

In [ ]:
SQL = """select * from swimmers"""

In [71]:
SQL = """select * from swimmers"""

with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)
    results = db.fetchall()
results

[(1, 'Abi', 10),
 (2, 'Abi', 10),
 (3, 'Abi', 10),
 (4, 'Abi', 10),
 (5, 'Abi', 10),
 (6, 'Abi', 10),
 (7, 'Abi', 10),
 (8, 'Abi', 10),
 (9, 'Abi', 10),
 (10, 'Abi', 10),
 (11, 'Ali', 12),
 (12, 'Ali', 12),
 (13, 'Ali', 12),
 (14, 'Ali', 12),
 (15, 'Alison', 14),
 (16, 'Alison', 14),
 (17, 'Alison', 14),
 (18, 'Alison', 14),
 (19, 'Aurora', 13),
 (20, 'Aurora', 13),
 (21, 'Bill', 18),
 (22, 'Bill', 18),
 (23, 'Bill', 18),
 (24, 'Bill', 18),
 (25, 'Blake', 15),
 (26, 'Blake', 15),
 (27, 'Blake', 15),
 (28, 'Blake', 15),
 (29, 'Blake', 15),
 (30, 'Blake', 15),
 (31, 'Calvin', 9),
 (32, 'Calvin', 9),
 (33, 'Calvin', 9),
 (34, 'Calvin', 9),
 (35, 'Calvin', 9),
 (36, 'Calvin', 9),
 (37, 'Carl', 15),
 (38, 'Carl', 15),
 (39, 'Chris', 17),
 (40, 'Chris', 17),
 (41, 'Chris', 17),
 (42, 'Chris', 17),
 (43, 'Darius', 13),
 (44, 'Darius', 13),
 (45, 'Darius', 13),
 (46, 'Darius', 13),
 (47, 'Darius', 13),
 (48, 'Darius', 13),
 (49, 'Darius', 13),
 (50, 'Darius', 13),
 (51, 'Dave', 17),
 (52, 'Dave', 17),
 (53, 'Dave', 17),
 (54, 'Dave', 17),
 (55, 'Elba', 14),
 (56, 'Elba', 14),
 (57, 'Emma', 13),
 (58, 'Emma', 13),
 (59, 'Emma', 13),
 (60, 'Emma', 13),
 (61, 'Erika', 15),
 (62, 'Erika', 15),
 (63, 'Erika', 15),
 (64, 'Erika', 15),
 (65, 'Erika', 15),
 (66, 'Erika', 15),
 (67, 'Hannah', 13),
 (68, 'Hannah', 13),
 (69, 'Hannah', 13),
 (70, 'Hannah', 13),
 (71, 'Katie', 9),
 (72, 'Katie', 9),
 (73, 'Katie', 9),
 (74, 'Katie', 9),
 (75, 'Katie', 9),
 (76, 'Katie', 9),
 (77, 'Katie', 9),
 (78, 'Katie', 9),
 (79, 'Katie', 9),
 (80, 'Katie', 9),
 (81, 'Katie', 9),
 (82, 'Katie', 9),
 (83, 'Katie', 9),
 (84, 'Katie', 9),
 (85, 'Lizzie', 14),
 (86, 'Lizzie', 14),
 (87, 'Lizzie', 14),
 (88, 'Lizzie', 14),
 (89, 'Maria', 9),
 (90, 'Maria', 9),
 (91, 'Mike', 15),
 (92, 'Mike', 15),
 (93, 'Mike', 15),
 (94, 'Mike', 15),
 (95, 'Mike', 15),
 (96, 'Mike', 15),
 (97, 'Mike', 15),
 (98, 'Mike', 15),
 (99, 'Mike', 15),
 (100, 'Mike', 15),
 (101, 'Owen', 15),
 (102, 'Owen', 15),
 (103, 'Ruth', 13),
 (104, 'Ruth', 13),
 (105, 'Ruth', 13),
 (106, 'Ruth', 13),
 (107, 'Ruth', 13),
 (108, 'Ruth', 13),
 (109, 'Ruth', 13),
 (110, 'Ruth', 13),
 (111, 'Ruth', 13),
 (112, 'Ruth', 13),
 (113, 'Tasmin', 15),
 (114, 'Tasmin', 15),
 (115, 'Tasmin', 15),
 (116, 'Tasmin', 15),
 (117, 'Tasmin', 15),
 (118, 'Tasmin', 15),
 (119, 'Tasmin', 15),
 (120, 'Tasmin', 15),
 (121, 'Abi', 10),
 (122, 'Abi', 10),
 (123, 'Abi', 10),
 (124, 'Abi', 10),
 (125, 'Abi', 10),
 (126, 'Abi', 10),
 (127, 'Abi', 10),
 (128, 'Abi', 10),
 (129, 'Abi', 10),
 (130, 'Abi', 10),
 (131, 'Ali', 12),
 (132, 'Ali', 12),
 (133, 'Ali', 12),
 (134, 'Ali', 12),
 (135, 'Alison', 14),
 (136, 'Alison', 14),
 (137, 'Alison', 14),
 (138, 'Alison', 14),
 (139, 'Aurora', 13),
 (140, 'Aurora', 13),
 (141, 'Bill', 18),
 (142, 'Bill', 18),
 (143, 'Bill', 18),
 (144, 'Bill', 18),
 (145, 'Blake', 15),
 (146, 'Blake', 15),
 (147, 'Blake', 15),
 (148, 'Blake', 15),
 (149, 'Blake', 15),
 (150, 'Blake', 15),
 (151, 'Calvin', 9),
 (152, 'Calvin', 9),
 (153, 'Calvin', 9),
 (154, 'Calvin', 9),
 (155, 'Calvin', 9),
 (156, 'Calvin', 9),
 (157, 'Carl', 15),
 (158, 'Carl', 15),
 (159, 'Chris', 17),
 (160, 'Chris', 17),
 (161, 'Chris', 17),
 (162, 'Chris', 17),
 (163, 'Darius', 13),
 (164, 'Darius', 13),
 (165, 'Darius', 13),
 (166, 'Darius', 13),
 (167, 'Darius', 13),
 (168, 'Darius', 13),
 (169, 'Darius', 13),
 (170, 'Darius', 13),
 (171, 'Dave', 17),
 (172, 'Dave', 17),
 (173, 'Dave', 17),
 (174, 'Dave', 17),
 (175, 'Elba', 14),
 (176, 'Elba', 14),
 (177, 'Emma', 13),
 (178, 'Emma', 13),
 (179, 'Emma', 13),
 (180, 'Emma', 13),
 (181, 'Erika', 15),
 (182, 'Erika', 15),
 (183, 'Erika', 15),
 (184, 'Erika', 15),
 (185, 'Erika', 15),
 (186, 'Erika', 15),
 (187, 'Hannah', 13),
 (188, 'Hannah', 13),
 (189, 'Hannah', 13),
 (190, 'Hannah', 13),
 (191, 'Katie', 9),
 (192, 'Katie', 9),
 (193, 'Katie', 9),
 (194, 'Katie', 9),
 (195, 'Katie', 9),
 (196, 'Katie', 9),
 (197, 'Katie', 9),
 (198, 'Katie', 9),
 (199, 'Katie', 9),
 (200, 'Katie', 9),
 (201, 'Katie', 9),
 (202, 'Katie', 9),
 (203, 'Katie', 9),
 (204, 'Katie', 9),
 (205, 'Lizzie', 14),
 (206, 'Lizzie', 14),
 (207, 'Lizzie', 14),
 (208, 'Lizzie', 14),
 (209, 'Maria', 9),
 (210, 'Maria', 9),
 (211, 'Mike', 15),
 (212, 'Mike', 15),
 (213, 'Mike', 15),
 (214, 'Mike', 15),
 (215, 'Mike', 15),
 (216, 'Mike', 15),
 (217, 'Mike', 15),
 (218, 'Mike', 15),
 (219, 'Mike', 15),
 (220, 'Mike', 15),
 (221, 'Owen', 15),
 (222, 'Owen', 15),
 (223, 'Ruth', 13),
 (224, 'Ruth', 13),
 (225, 'Ruth', 13),
 (226, 'Ruth', 13),
 (227, 'Ruth', 13),
 (228, 'Ruth', 13),
 (229, 'Ruth', 13),
 (230, 'Ruth', 13),
 (231, 'Ruth', 13),
 (232, 'Ruth', 13),
 (233, 'Tasmin', 15),
 (234, 'Tasmin', 15),
 (235, 'Tasmin', 15),
 (236, 'Tasmin', 15),
 (237, 'Tasmin', 15),
 (238, 'Tasmin', 15),
 (239, 'Tasmin', 15),
 (240, 'Tasmin', 15),
 (241, 'Abi', 10),
 (242, 'Abi', 10),
 (243, 'Abi', 10),
 (244, 'Abi', 10),
 (245, 'Abi', 10),
 (246, 'Abi', 10),
 (247, 'Abi', 10),
 (248, 'Abi', 10),
 (249, 'Abi', 10),
 (250, 'Abi', 10),
 (251, 'Ali', 12),
 (252, 'Ali', 12),
 (253, 'Ali', 12),
 (254, 'Ali', 12),
 (255, 'Alison', 14),
 (256, 'Alison', 14),
 (257, 'Alison', 14),
 (258, 'Alison', 14),
 (259, 'Aurora', 13),
 (260, 'Aurora', 13),
 (261, 'Bill', 18),
 (262, 'Bill', 18),
 (263, 'Bill', 18),
 (264, 'Bill', 18),
 (265, 'Blake', 15),
 (266, 'Blake', 15),
 (267, 'Blake', 15),
 (268, 'Blake', 15),
 (269, 'Blake', 15),
 (270, 'Blake', 15),
 (271, 'Calvin', 9),
 (272, 'Calvin', 9),
 (273, 'Calvin', 9),
 (274, 'Calvin', 9),
 (275, 'Calvin', 9),
 (276, 'Calvin', 9),
 (277, 'Carl', 15),
 (278, 'Carl', 15),
 (279, 'Chris', 17),
 (280, 'Chris', 17),
 (281, 'Chris', 17),
 (282, 'Chris', 17),
 (283, 'Darius', 13),
 (284, 'Darius', 13),
 (285, 'Darius', 13),
 (286, 'Darius', 13),
 (287, 'Darius', 13),
 (288, 'Darius', 13),
 (289, 'Darius', 13),
 (290, 'Darius', 13),
 (291, 'Dave', 17),
 (292, 'Dave', 17),
 (293, 'Dave', 17),
 (294, 'Dave', 17),
 (295, 'Elba', 14),
 (296, 'Elba', 14),
 (297, 'Emma', 13),
 (298, 'Emma', 13),
 (299, 'Emma', 13),
 (300, 'Emma', 13),
 (301, 'Erika', 15),
 (302, 'Erika', 15),
 (303, 'Erika', 15),
 (304, 'Erika', 15),
 (305, 'Erika', 15),
 (306, 'Erika', 15),
 (307, 'Hannah', 13),
 (308, 'Hannah', 13),
 (309, 'Hannah', 13),
 (310, 'Hannah', 13),
 (311, 'Katie', 9),
 (312, 'Katie', 9),
 (313, 'Katie', 9),
 (314, 'Katie', 9),
 (315, 'Katie', 9),
 (316, 'Katie', 9),
 (317, 'Katie', 9),
 (318, 'Katie', 9),
 (319, 'Katie', 9),
 (320, 'Katie', 9),
 (321, 'Katie', 9),
 (322, 'Katie', 9),
 (323, 'Katie', 9),
 (324, 'Katie', 9),
 (325, 'Lizzie', 14),
 (326, 'Lizzie', 14),
 (327, 'Lizzie', 14),
 (328, 'Lizzie', 14),
 (329, 'Maria', 9),
 (330, 'Maria', 9),
 (331, 'Mike', 15),
 (332, 'Mike', 15),
 (333, 'Mike', 15),
 (334, 'Mike', 15),
 (335, 'Mike', 15),
 (336, 'Mike', 15),
 (337, 'Mike', 15),
 (338, 'Mike', 15),
 (339, 'Mike', 15),
 (340, 'Mike', 15),
 (341, 'Owen', 15),
 (342, 'Owen', 15),
 (343, 'Ruth', 13),
 (344, 'Ruth', 13),
 (345, 'Ruth', 13),
 (346, 'Ruth', 13),
 (347, 'Ruth', 13),
 (348, 'Ruth', 13),
 (349, 'Ruth', 13),
 (350, 'Ruth', 13),
 (351, 'Ruth', 13),
 (352, 'Ruth', 13),
 (353, 'Tasmin', 15),
 (354, 'Tasmin', 15),
 (355, 'Tasmin', 15),
 (356, 'Tasmin', 15),
 (357, 'Tasmin', 15),
 (358, 'Tasmin', 15),
 (359, 'Tasmin', 15),
 (360, 'Tasmin', 15),
 (361, 'Abi', 10),
 (362, 'Abi', 10),
 (363, 'Abi', 10),
 (364, 'Abi', 10),
 (365, 'Abi', 10),
 (366, 'Abi', 10),
 (367, 'Abi', 10),
 (368, 'Abi', 10),
 (369, 'Abi', 10),
 (370, 'Abi', 10),
 (371, 'Ali', 12),
 (372, 'Ali', 12),
 (373, 'Ali', 12),
 (374, 'Ali', 12),
 (375, 'Alison', 14),
 (376, 'Alison', 14),
 (377, 'Alison', 14),
 (378, 'Alison', 14),
 (379, 'Aurora', 13),
 (380, 'Aurora', 13),
 (381, 'Bill', 18),
 (382, 'Bill', 18),
 (383, 'Bill', 18),
 (384, 'Bill', 18),
 (385, 'Blake', 15),
 (386, 'Blake', 15),
 (387, 'Blake', 15),
 (388, 'Blake', 15),
 (389, 'Blake', 15),
 (390, 'Blake', 15),
 (391, 'Calvin', 9),
 (392, 'Calvin', 9),
 (393, 'Calvin', 9),
 (394, 'Calvin', 9),
 (395, 'Calvin', 9),
 (396, 'Calvin', 9),
 (397, 'Carl', 15),
 (398, 'Carl', 15),
 (399, 'Chris', 17),
 (400, 'Chris', 17),
 (401, 'Chris', 17),
 (402, 'Chris', 17),
 (403, 'Darius', 13),
 (404, 'Darius', 13),
 (405, 'Darius', 13),
 (406, 'Darius', 13),
 (407, 'Darius', 13),
 (408, 'Darius', 13),
 (409, 'Darius', 13),
 (410, 'Darius', 13),
 (411, 'Dave', 17),
 (412, 'Dave', 17),
 (413, 'Dave', 17),
 (414, 'Dave', 17),
 (415, 'Elba', 14),
 (416, 'Elba', 14),
 (417, 'Emma', 13),
 (418, 'Emma', 13),
 (419, 'Emma', 13),
 (420, 'Emma', 13),
 (421, 'Erika', 15),
 (422, 'Erika', 15),
 (423, 'Erika', 15),
 (424, 'Erika', 15),
 (425, 'Erika', 15),
 (426, 'Erika', 15),
 (427, 'Hannah', 13),
 (428, 'Hannah', 13),
 (429, 'Hannah', 13),
 (430, 'Hannah', 13),
 (431, 'Katie', 9),
 (432, 'Katie', 9),
 (433, 'Katie', 9),
 (434, 'Katie', 9),
 (435, 'Katie', 9),
 (436, 'Katie', 9),
 (437, 'Katie', 9),
 (438, 'Katie', 9),
 (439, 'Katie', 9),
 (440, 'Katie', 9),
 (441, 'Katie', 9),
 (442, 'Katie', 9),
 (443, 'Katie', 9),
 (444, 'Katie', 9),
 (445, 'Lizzie', 14),
 (446, 'Lizzie', 14),
 (447, 'Lizzie', 14),
 (448, 'Lizzie', 14),
 (449, 'Maria', 9),
 (450, 'Maria', 9),
 (451, 'Mike', 15),
 (452, 'Mike', 15),
 (453, 'Mike', 15),
 (454, 'Mike', 15),
 (455, 'Mike', 15),
 (456, 'Mike', 15),
 (457, 'Mike', 15),
 (458, 'Mike', 15),
 (459, 'Mike', 15),
 (460, 'Mike', 15),
 (461, 'Owen', 15),
 (462, 'Owen', 15),
 (463, 'Ruth', 13),
 (464, 'Ruth', 13),
 (465, 'Ruth', 13),
 (466, 'Ruth', 13),
 (467, 'Ruth', 13),
 (468, 'Ruth', 13),
 (469, 'Ruth', 13),
 (470, 'Ruth', 13),
 (471, 'Ruth', 13),
 (472, 'Ruth', 13),
 (473, 'Tasmin', 15),
 (474, 'Tasmin', 15),
 (475, 'Tasmin', 15),
 (476, 'Tasmin', 15),
 (477, 'Tasmin', 15),
 (478, 'Tasmin', 15),
 (479, 'Tasmin', 15),
 (480, 'Tasmin', 15)]

In [72]:
import os

import DBcm

db_details = "CoachDB.sqlite3"

FOLDER = "swimdata/"

files = os.listdir(FOLDER)
files.remove(".DS_Store")

SQL_SELECT = """ 
    select * from swimmers
    where name = ? and age = ?
"""

SQL_INSERT = """ 
    insert into swimmers
    (name, age)
    values
    (?, ?)
"""

In [73]:
with DBcm.UseDatabase(db_details) as db:
    for fn in files:
        name, age, _, _ = fn.removesuffix(".txt").split("-")
        db.execute(SQL_INSERT, (name, age,))
        if db.fetchall():
            continue
        db.execute(SQL_INSERT, (name, age,))

In [74]:
import os

import DBcm

db_details = "CoachDB.sqlite3"

FOLDER = "swimdata/"

files = os.listdir(FOLDER)
files.remove(".DS_Store")

SQL_SELECT = """ 
    select * from events
    where distance = ? and stroke = ?
"""

SQL_INSERT = """ 
    insert into events
    (distance, stroke)
    values
    (?, ?)
"""

with DBcm.UseDatabase(db_details) as db:
    for fn in files:
        _, _, distance, stroke = fn.removesuffix(".txt").split("-")
        db.execute(SQL_SELECT, (distance, stroke,))
        if db.fetchall():
            continue
        db.execute(SQL_INSERT, (distance, stroke,))

In [75]:
SQL = """select * from events"""

with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)
    results = db.fetchall()
results

[(1, '100m', 'Back'),
 (2, '100m', 'Breast'),
 (3, '50m', 'Back'),
 (4, '50m', 'Breast'),
 (5, '50m', 'Free'),
 (6, '100m', 'Free'),
 (7, '200m', 'Back'),
 (8, '100m', 'Fly'),
 (9, '50m', 'Fly'),
 (10, '200m', 'IM'),
 (11, '200m', 'Breast'),
 (12, '200m', 'Free'),
 (13, '400m', 'Free')]

In [76]:
import DBcm

db_details = "CoachDB.sqlite3"

import os

FOLDER = "swimdata/"

files = os.listdir(FOLDER)
files.remove(".DS_Store")


SQL_SELECT_SWIMMERS = """
    select * from swimmers
    where name = ? and age = ?
"""

SQL_INSERT_SWIMMERS = """
    insert into swimmers
    (name, age)
    values
    (?, ?)
"""

SQL_SELECT_EVENTS = """
    select * from events
    where distance = ? and stroke = ?
"""

SQL_INSERT_EVENTS = """
    insert into events
    (distance, stroke)
    values
    (?, ?)
"""

SQL_GET_SWIMMER = """
    select id from swimmers
    where name = ? and age = ?
"""

SQL_GET_EVENT = """
    select id from events
    where distance = ? and stroke = ?
"""

SQL_INSERT_TIMES = """
    insert into times
    (swimmer_id, event_id, time)
    values
    (?, ?, ?)
"""


with DBcm.UseDatabase(db_details) as db:
    for fn in files:
        name, age, distance, stroke = fn.removesuffix(".txt").split("-")

        db.execute(
            SQL_SELECT_SWIMMERS,
            (
                name,
                age,
            ),
        )
        if not db.fetchall():
            db.execute(
                SQL_INSERT_SWIMMERS,
                (
                    name,
                    age,
                ),
            )

        db.execute(
            SQL_SELECT_EVENTS,
            (
                distance,
                stroke,
            ),
        )
        if not db.fetchall():
            db.execute(
                SQL_INSERT_EVENTS,
                (
                    distance,
                    stroke,
                ),
            )

        db.execute(
            SQL_GET_SWIMMER,
            (
                name,
                age,
            ),
        )
        s_id = db.fetchone()[0]

        db.execute(
            SQL_GET_EVENT,
            (
                distance,
                stroke,
            ),
        )
        e_id = db.fetchone()[0]

        with open(FOLDER + fn) as sf:
            times = sf.read().strip().split(",")
            for t in times:
                db.execute(
                    SQL_INSERT_TIMES,
                    (
                        s_id,
                        e_id,
                        t,
                    ),
                )

In [78]:
SQL = """select * from times"""

with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)
    results = db.fetchall()
results

[(1, 1, '1:31.59', '2023-11-08 18:49:55'),
 (1, 1, '1:26.55', '2023-11-08 18:49:55'),
 (1, 1, '1:28.75', '2023-11-08 18:49:55'),
 (1, 1, '1:39.79', '2023-11-08 18:49:55'),
 (1, 1, '1:32.37', '2023-11-08 18:49:55'),
 (1, 2, '1:42.97', '2023-11-08 18:49:55'),
 (1, 2, '1:43.31', '2023-11-08 18:49:55'),
 (1, 2, '1:43.50', '2023-11-08 18:49:55'),
 (1, 2, '1:40.34', '2023-11-08 18:49:55'),
 (1, 3, '41.50', '2023-11-08 18:49:55'),
 (1, 3, '43.58', '2023-11-08 18:49:55'),
 (1, 3, '42.35', '2023-11-08 18:49:55'),
 (1, 3, '43.35', '2023-11-08 18:49:55'),
 (1, 3, '39.85', '2023-11-08 18:49:55'),
 (1, 3, '40.53', '2023-11-08 18:49:55'),
 (1, 3, '42.14', '2023-11-08 18:49:55'),
 (1, 3, '39.18', '2023-11-08 18:49:55'),
 (1, 3, '40.89', '2023-11-08 18:49:55'),
 (1, 3, '40.89', '2023-11-08 18:49:55'),
 (1, 4, '48.08', '2023-11-08 18:49:55'),
 (1, 4, '53.17', '2023-11-08 18:49:55'),
 (1, 4, '45.76', '2023-11-08 18:49:55'),
 (1, 4, '49.28', '2023-11-08 18:49:55'),
 (1, 4, '52.85', '2023-11-08 18:49:55'),
 (1, 4, '46.19', '2023-11-08 18:49:55'),
 (1, 4, '47.76', '2023-11-08 18:49:55'),
 (1, 4, '48.83', '2023-11-08 18:49:55'),
 (1, 4, '45.71', '2023-11-08 18:49:55'),
 (1, 4, '47.76', '2023-11-08 18:49:55'),
 (1, 5, '39.07', '2023-11-08 18:49:55'),
 (1, 5, '37.66', '2023-11-08 18:49:55'),
 (1, 5, '36.13', '2023-11-08 18:49:55'),
 (1, 5, '39.42', '2023-11-08 18:49:55'),
 (11, 1, '1:36.54', '2023-11-08 18:49:55'),
 (11, 1, '1:39.10', '2023-11-08 18:49:55'),
 (11, 1, '1:39.45', '2023-11-08 18:49:55'),
 (11, 1, '1:42.87', '2023-11-08 18:49:55'),
 (11, 6, '1:27.31', '2023-11-08 18:49:55'),
 (11, 6, '1:27.00', '2023-11-08 18:49:55'),
 (11, 6, '1:27.46', '2023-11-08 18:49:55'),
 (11, 6, '1:22.50', '2023-11-08 18:49:55'),
 (11, 6, '1:20.39', '2023-11-08 18:49:55'),
 (11, 6, '1:26.04', '2023-11-08 18:49:55'),
 (11, 6, '1:20.22', '2023-11-08 18:49:55'),
 (15, 2, '1:34.71', '2023-11-08 18:49:55'),
 (15, 2, '1:37.87', '2023-11-08 18:49:55'),
 (15, 2, '1:35.15', '2023-11-08 18:49:55'),
 (15, 2, '1:37.20', '2023-11-08 18:49:55'),
 (15, 2, '1:36.29', '2023-11-08 18:49:55'),
 (15, 2, '1:36.00', '2023-11-08 18:49:55'),
 (15, 2, '1:35.63', '2023-11-08 18:49:55'),
 (15, 2, '1:35.42', '2023-11-08 18:49:55'),
 (15, 2, '1:42.01', '2023-11-08 18:49:55'),
 (15, 6, '1:13.86', '2023-11-08 18:49:55'),
 (15, 6, '1:12.00', '2023-11-08 18:49:55'),
 (15, 6, '1:14.69', '2023-11-08 18:49:55'),
 (15, 6, '1:10.01', '2023-11-08 18:49:55'),
 (15, 6, '1:12.24', '2023-11-08 18:49:55'),
 (15, 6, '1:11.00', '2023-11-08 18:49:55'),
 (15, 6, '1:11.20', '2023-11-08 18:49:55'),
 (15, 6, '1:12.28', '2023-11-08 18:49:55'),
 (15, 6, '1:15.46', '2023-11-08 18:49:55'),
 (15, 6, '1:16.03', '2023-11-08 18:49:55'),
 (19, 5, '30.05', '2023-11-08 18:49:55'),
 (19, 5, '30.21', '2023-11-08 18:49:55'),
 (19, 5, '28.86', '2023-11-08 18:49:55'),
 (19, 5, '30.65', '2023-11-08 18:49:55'),
 (19, 5, '30.03', '2023-11-08 18:49:55'),
 (19, 5, '29.64', '2023-11-08 18:49:55'),
 (19, 5, '29.82', '2023-11-08 18:49:55'),
 (21, 1, '1:11.34', '2023-11-08 18:49:55'),
 (21, 1, '1:05.81', '2023-11-08 18:49:55'),
 (21, 1, '1:05.75', '2023-11-08 18:49:55'),
 (21, 1, '1:05.82', '2023-11-08 18:49:55'),
 (21, 7, '2:29.06', '2023-11-08 18:49:55'),
 (21, 7, '2:21.49', '2023-11-08 18:49:55'),
 (21, 7, '2:24.13', '2023-11-08 18:49:55'),
 (21, 7, '2:29.40', '2023-11-08 18:49:55'),
 (25, 1, '1:12.71', '2023-11-08 18:49:55'),
 (25, 1, '1:19.87', '2023-11-08 18:49:55'),
 (25, 1, '1:14.94', '2023-11-08 18:49:55'),
 (25, 1, '1:11.53', '2023-11-08 18:49:55'),
 (25, 1, '1:14.94', '2023-11-08 18:49:55'),
 (25, 8, '1:11.49', '2023-11-08 18:49:55'),
 (25, 8, '1:10.16', '2023-11-08 18:49:55'),
 (25, 8, '1:12.59', '2023-11-08 18:49:55'),
 (25, 8, '1:11.63', '2023-11-08 18:49:55'),
 (25, 8, '1:09.43', '2023-11-08 18:49:55'),
 (25, 6, '1:02.13', '2023-11-08 18:49:55'),
 (25, 6, '1:03.25', '2023-11-08 18:49:55'),
 (25, 6, '1:04.16', '2023-11-08 18:49:55'),
 (25, 6, '1:03.17', '2023-11-08 18:49:55'),
 (25, 6, '1:04.84', '2023-11-08 18:49:55'),
 (25, 6, '1:03.88', '2023-11-08 18:49:55'),
 (25, 6, '1:04.87', '2023-11-08 18:49:55'),
 (31, 3, '38.79', '2023-11-08 18:49:55'),
 (31, 3, '39.03', '2023-11-08 18:49:55'),
 (31, 3, '41.29', '2023-11-08 18:49:55'),
 (31, 3, '39.66', '2023-11-08 18:49:55'),
 (31, 3, '41.13', '2023-11-08 18:49:55'),
 (31, 3, '38.57', '2023-11-08 18:49:55'),
 (31, 3, '39.40', '2023-11-08 18:49:55'),
 (31, 3, '41.06', '2023-11-08 18:49:55'),
 (31, 3, '40.37', '2023-11-08 18:49:55'),
 (31, 3, '43.05', '2023-11-08 18:49:55'),
 (31, 3, '37.85', '2023-11-08 18:49:55'),
 (31, 9, '39.47', '2023-11-08 18:49:55'),
 (31, 9, '37.30', '2023-11-08 18:49:55'),
 (31, 9, '41.90', '2023-11-08 18:49:55'),
 (31, 9, '42.85', '2023-11-08 18:49:55'),
 (31, 9, '39.90', '2023-11-08 18:49:55'),
 (31, 9, '38.66', '2023-11-08 18:49:55'),
 (31, 9, '38.84', '2023-11-08 18:49:55'),
 (31, 9, '37.65', '2023-11-08 18:49:55'),
 (31, 9, '39.68', '2023-11-08 18:49:55'),
 (31, 9, '37.18', '2023-11-08 18:49:55'),
 (31, 9, '43.61', '2023-11-08 18:49:55'),
 (31, 5, '35.78', '2023-11-08 18:49:55'),
 (31, 5, '36.19', '2023-11-08 18:49:55'),
 (31, 5, '36.89', '2023-11-08 18:49:55'),
 (31, 5, '34.29', '2023-11-08 18:49:55'),
 (31, 5, '34.18', '2023-11-08 18:49:55'),
 (31, 5, '35.94', '2023-11-08 18:49:55'),
 (37, 1, '1:29.78', '2023-11-08 18:49:55'),
 (37, 1, '1:28.38', '2023-11-08 18:49:55'),
 (37, 1, '1:25.03', '2023-11-08 18:49:55'),
 (37, 1, '1:25.66', '2023-11-08 18:49:55'),
 (39, 1, '1:21.76', '2023-11-08 18:49:55'),
 (39, 1, '1:23.32', '2023-11-08 18:49:55'),
 (39, 1, '1:24.09', '2023-11-08 18:49:55'),
 (39, 1, '1:21.51', '2023-11-08 18:49:55'),
 (39, 2, '1:28.86', '2023-11-08 18:49:55'),
 (39, 2, '1:29.90', '2023-11-08 18:49:55'),
 (39, 2, '1:28.12', '2023-11-08 18:49:55'),
 (39, 2, '1:28.67', '2023-11-08 18:49:55'),
 (43, 1, '1:22.57', '2023-11-08 18:49:55'),
 (43, 1, '1:29.64', '2023-11-08 18:49:55'),
 (43, 1, '1:20.39', '2023-11-08 18:49:55'),
 (43, 1, '1:23.83', '2023-11-08 18:49:55'),
 (43, 2, '1:30.24', '2023-11-08 18:49:55'),
 (43, 2, '1:33.18', '2023-11-08 18:49:55'),
 (43, 2, '1:32.73', '2023-11-08 18:49:55'),
 (43, 2, '1:33.05', '2023-11-08 18:49:55'),
 (43, 2, '1:30.81', '2023-11-08 18:49:55'),
 (43, 2, '1:31.74', '2023-11-08 18:49:55'),
 (43, 2, '1:31.53', '2023-11-08 18:49:55'),
 (43, 2, '1:33.05', '2023-11-08 18:49:55'),
 (43, 8, '1:27.95', '2023-11-08 18:49:55'),
 (43, 8, '1:21.07', '2023-11-08 18:49:55'),
 (43, 8, '1:30.96', '2023-11-08 18:49:55'),
 (43, 8, '1:23.22', '2023-11-08 18:49:55'),
 (43, 8, '1:27.95', '2023-11-08 18:49:55'),
 (43, 8, '1:28.30', '2023-11-08 18:49:55'),
 (43, 10, '3:03.84', '2023-11-08 18:49:55'),
 (43, 10, '3:04.27', '2023-11-08 18:49:55'),
 (43, 10, '3:01.49', '2023-11-08 18:49:55'),
 (43, 10, '3:04.27', '2023-11-08 18:49:55'),
 (43, 10, '2:52.44', '2023-11-08 18:49:55'),
 (51, 6, '59.21', '2023-11-08 18:49:55'),
 (51, 6, '59.27', '2023-11-08 18:49:55'),
 (51, 6, '58.67', '2023-11-08 18:49:55'),
 (51, 6, '59.72', '2023-11-08 18:49:55'),
 (51, 6, '59.17', '2023-11-08 18:49:55'),
 (51, 7, '2:35.46', '2023-11-08 18:49:55'),
 (51, 7, '2:28.30', '2023-11-08 18:49:55'),
 (51, 7, '2:35.35', '2023-11-08 18:49:55'),
 (51, 7, '2:28.84', '2023-11-08 18:49:55'),
 (55, 6, '1:06.01', '2023-11-08 18:49:55'),
 (55, 6, '1:06.93', '2023-11-08 18:49:55'),
 (55, 6, '1:05.34', '2023-11-08 18:49:55'),
 (55, 6, '1:06.10', '2023-11-08 18:49:55'),
 (57, 2, '2:01.15', '2023-11-08 18:49:55'),
 (57, 2, '1:57.86', '2023-11-08 18:49:55'),
 (57, 2, '1:59.38', '2023-11-08 18:49:55'),
 (57, 2, '1:57.94', '2023-11-08 18:49:55'),
 (57, 2, '1:56.97', '2023-11-08 18:49:55'),
 (57, 6, '1:32.21', '2023-11-08 18:49:55'),
 (57, 6, '1:33.68', '2023-11-08 18:49:55'),
 (57, 6, '1:34.10', '2023-11-08 18:49:55'),
 (57, 6, '1:28.57', '2023-11-08 18:49:55'),
 (61, 2, '1:36.72', '2023-11-08 18:49:55'),
 (61, 2, '1:34.78', '2023-11-08 18:49:55'),
 (61, 2, '1:34.05', '2023-11-08 18:49:55'),
 (61, 2, '1:32.78', '2023-11-08 18:49:55'),
 (61, 2, '1:33.51', '2023-11-08 18:49:55'),
 (61, 2, '1:33.29', '2023-11-08 18:49:55'),
 (61, 2, '1:36.47', '2023-11-08 18:49:55'),
 (61, 2, '1:31.82', '2023-11-08 18:49:55'),
 (61, 6, '1:19.04', '2023-11-08 18:49:55'),
 (61, 6, '1:15.88', '2023-11-08 18:49:55'),
 (61, 6, '1:18.62', '2023-11-08 18:49:55'),
 (61, 6, '1:21.74', '2023-11-08 18:49:55'),
 (61, 11, '3:27.51', '2023-11-08 18:49:55'),
 (61, 11, '3:34.70', '2023-11-08 18:49:55'),
 (61, 11, '3:27.15', '2023-11-08 18:49:55'),
 (61, 11, '3:28.45', '2023-11-08 18:49:55'),
 (61, 11, '3:34.79', '2023-11-08 18:49:55'),
 (61, 11, '3:30.21', '2023-11-08 18:49:55'),
 (61, 11, '3:33.74', '2023-11-08 18:49:55'),
 (67, 1, '1:35.75', '2023-11-08 18:49:55'),
 (67, 1, '1:32.78', '2023-11-08 18:49:55'),
 (67, 1, '1:34.01', '2023-11-08 18:49:55'),
 (67, 1, '1:32.57', '2023-11-08 18:49:55'),
 (67, 6, '1:21.43', '2023-11-08 18:49:55'),
 (67, 6, '1:21.40', '2023-11-08 18:49:55'),
 (67, 6, '1:21.62', '2023-11-08 18:49:55'),
 (67, 6, '1:25.38', '2023-11-08 18:49:55'),
 (71, 1, '1:33.36', '2023-11-08 18:49:55'),
 (71, 1, '1:31.52', '2023-11-08 18:49:55'),
 (71, 1, '1:28.10', '2023-11-08 18:49:55'),
 (71, 1, '1:33.37', '2023-11-08 18:49:55'),
 (71, 1, '1:32.89', '2023-11-08 18:49:55'),
 (71, 1, '1:33.38', '2023-11-08 18:49:55'),
 (71, 1, '1:32.03', '2023-11-08 18:49:55'),
 (71, 1, '1:32.71', '2023-11-08 18:49:55'),
 (71, 2, '1:50.10', '2023-11-08 18:49:55'),
 (71, 2, '1:47.12', '2023-11-08 18:49:55'),
 (71, 2, '1:54.65', '2023-11-08 18:49:55'),
 (71, 2, '1:51.03', '2023-11-08 18:49:55'),
 (71, 6, '1:20.81', '2023-11-08 18:49:55'),
 (71, 6, '1:23.61', '2023-11-08 18:49:55'),
 (71, 6, '1:24.80', '2023-11-08 18:49:55'),
 (71, 6, '1:22.05', '2023-11-08 18:49:55'),
 (71, 6, '1:22.58', '2023-11-08 18:49:55'),
 (71, 6, '1:23.94', '2023-11-08 18:49:55'),
 (71, 3, '43.25', '2023-11-08 18:49:55'),
 (71, 3, '47.35', '2023-11-08 18:49:55'),
 (71, 3, '46.12', '2023-11-08 18:49:55'),
 (71, 3, '45.69', '2023-11-08 18:49:55'),
 (71, 4, '47.44', '2023-11-08 18:49:55'),
 (71, 4, '52.32', '2023-11-08 18:49:55'),
 (71, 4, '57.16', '2023-11-08 18:49:55'),
 (71, 4, '56.77', '2023-11-08 18:49:55'),
 (71, 9, '40.11', '2023-11-08 18:49:55'),
 (71, 9, '45.43', '2023-11-08 18:49:55'),
 (71, 9, '50.17', '2023-11-08 18:49:55'),
 (71, 9, '43.58', '2023-11-08 18:49:55'),
 (71, 9, '52.61', '2023-11-08 18:49:55'),
 (71, 5, '38.94', '2023-11-08 18:49:55'),
 (71, 5, '37.76', '2023-11-08 18:49:55'),
 (71, 5, '41.83', '2023-11-08 18:49:55'),
 (71, 5, '42.81', '2023-11-08 18:49:55'),
 (85, 1, '1:27.10', '2023-11-08 18:49:55'),
 (85, 1, '1:26.21', '2023-11-08 18:49:55'),
 (85, 1, '1:26.42', '2023-11-08 18:49:55'),
 (85, 1, '1:35.79', '2023-11-08 18:49:55'),
 (85, 1, '1:30.47', '2023-11-08 18:49:55'),
 (85, 6, '1:21.08', '2023-11-08 18:49:55'),
 (85, 6, '1:11.23', '2023-11-08 18:49:55'),
 (85, 6, '1:12.46', '2023-11-08 18:49:55'),
 (85, 6, '1:16.73', '2023-11-08 18:49:55'),
 (89, 5, '45.75', '2023-11-08 18:49:55'),
 (89, 5, '41.62', '2023-11-08 18:49:55'),
 (89, 5, '40.49', '2023-11-08 18:49:55'),
 (89, 5, '41.00', '2023-11-08 18:49:55'),
 (91, 1, '1:19.23', '2023-11-08 18:49:55'),
 (91, 1, '1:13.70', '2023-11-08 18:49:55'),
 (91, 1, '1:13.96', '2023-11-08 18:49:55'),
 (91, 1, '1:15.94', '2023-11-08 18:49:55'),
 (91, 8, '1:14.55', '2023-11-08 18:49:55'),
 (91, 8, '1:14.15', '2023-11-08 18:49:55'),
 (91, 8, '1:08.38', '2023-11-08 18:49:55'),
 (91, 8, '1:08.74', '2023-11-08 18:49:55'),
 (91, 8, '1:10.89', '2023-11-08 18:49:55'),
 (91, 8, '1:09.47', '2023-11-08 18:49:55'),
 (91, 8, '1:09.52', '2023-11-08 18:49:55'),
 (91, 8, '1:09.86', '2023-11-08 18:49:55'),
 (91, 8, '1:09.83', '2023-11-08 18:49:55'),
 (91, 6, '1:02.52', '2023-11-08 18:49:55'),
 (91, 6, '1:02.56', '2023-11-08 18:49:55'),
 (91, 6, '1:06.41', '2023-11-08 18:49:55'),
 (91, 6, '1:07.08', '2023-11-08 18:49:55'),
 (91, 6, '1:02.56', '2023-11-08 18:49:55'),
 (91, 6, '1:03.23', '2023-11-08 18:49:55'),
 (91, 6, '1:04.54', '2023-11-08 18:49:55'),
 (91, 12, '2:19.77', '2023-11-08 18:49:55'),
 (91, 12, '2:41.57', '2023-11-08 18:49:55'),
 (91, 12, '2:27.88', '2023-11-08 18:49:55'),
 (91, 12, '2:37.28', '2023-11-08 18:49:55'),
 (91, 10, '2:48.05', '2023-11-08 18:49:55'),
 (91, 10, '2:44.03', '2023-11-08 18:49:55'),
 (91, 10, '2:38.93', '2023-11-08 18:49:55'),
 (91, 10, '2:54.86', '2023-11-08 18:49:55'),
 (101, 6, '1:15.57', '2023-11-08 18:49:55'),
 (101, 6, '1:14.40', '2023-11-08 18:49:55'),
 (101, 6, '1:19.82', '2023-11-08 18:49:55'),
 (101, 6, '1:12.90', '2023-11-08 18:49:55'),
 (103, 1, '1:17.16', '2023-11-08 18:49:55'),
 (103, 1, '1:16.65', '2023-11-08 18:49:55'),
 (103, 1, '1:23.11', '2023-11-08 18:49:55'),
 (103, 1, '1:14.37', '2023-11-08 18:49:55'),
 (103, 1, '1:18.16', '2023-11-08 18:49:55'),
 (103, 1, '1:18.28', '2023-11-08 18:49:55'),
 (103, 1, '1:16.87', '2023-11-08 18:49:55'),
 (103, 1, '1:17.37', '2023-11-08 18:49:55'),
 (103, 1, '1:20.46', '2023-11-08 18:49:55'),
 (103, 6, '1:07.99', '2023-11-08 18:49:55'),
 (103, 6, '1:11.87', '2023-11-08 18:49:55'),
 (103, 6, '1:11.08', '2023-11-08 18:49:55'),
 (103, 6, '1:09.75', '2023-11-08 18:49:55'),
 (103, 7, '2:56.68', '2023-11-08 18:49:55'),
 (103, 7, '2:42.63', '2023-11-08 18:49:55'),
 (103, 7, '2:40.90', '2023-11-08 18:49:55'),
 (103, 7, '2:42.88', '2023-11-08 18:49:55'),
 (103, 7, '2:46.09', '2023-11-08 18:49:55'),
 (103, 12, '2:22.64', '2023-11-08 18:49:55'),
 (103, 12, '2:28.16', '2023-11-08 18:49:55'),
 (103, 12, '2:28.38', '2023-11-08 18:49:55'),
 (103, 12, '2:25.08', '2023-11-08 18:49:55'),
 (103, 12, '2:25.64', '2023-11-08 18:49:55'),
 (103, 12, '2:33.58', '2023-11-08 18:49:55'),
 (103, 13, '5:11.32', '2023-11-08 18:49:55'),
 (103, 13, '5:04.12', '2023-11-08 18:49:55'),
 (103, 13, '5:20.67', '2023-11-08 18:49:55'),
 (103, 13, '5:08.31', '2023-11-08 18:49:55'),
 (103, 13, '5:04.32', '2023-11-08 18:49:55'),
 (103, 13, '5:06.77', '2023-11-08 18:49:55'),
 (103, 13, '5:13.01', '2023-11-08 18:49:55'),
 (113, 1, '1:19.63', '2023-11-08 18:49:55'),
 (113, 1, '1:16.69', '2023-11-08 18:49:55'),
 (113, 1, '1:19.68', '2023-11-08 18:49:55'),
 (113, 1, '1:16.56', '2023-11-08 18:49:55'),
 (113, 2, '1:20.59', '2023-11-08 18:49:55'),
 (113, 2, '1:26.48', '2023-11-08 18:49:55'),
 (113, 2, '1:24.15', '2023-11-08 18:49:55'),
 (113, 2, '1:21.96', '2023-11-08 18:49:55'),
 (113, 6, '1:08.87', '2023-11-08 18:49:55'),
 (113, 6, '1:07.34', '2023-11-08 18:49:55'),
 (113, 6, '1:11.00', '2023-11-08 18:49:55'),
 (113, 6, '1:08.62', '2023-11-08 18:49:55'),
 (113, 6, '1:10.94', '2023-11-08 18:49:55'),
 (113, 6, '1:09.52', '2023-11-08 18:49:55'),
 (113, 6, '1:12.04', '2023-11-08 18:49:55'),
 (113, 6, '1:10.91', '2023-11-08 18:49:55'),
 (113, 11, '2:54.14', '2023-11-08 18:49:55'),
 (113, 11, '3:03.58', '2023-11-08 18:49:55'),
 (113, 11, '3:02.43', '2023-11-08 18:49:55'),
 (113, 11, '2:57.99', '2023-11-08 18:49:55')]