In [1]:
import queries

print(dir(queries))

['SQL_CHART_DATA_BY_SWIMMER_EVENT_SESSION', 'SQL_SESSIONS', 'SQL_SWIMMERS_BY_SESSION', 'SQL_SWIMMERS_EVENTS_BY_SESSION', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__']

In [2]:
statements = []
for sql in dir(queries):
    if not sql.startswith("__"):
        statements.append(sql)
statements

['SQL_CHART_DATA_BY_SWIMMER_EVENT_SESSION',
 'SQL_SESSIONS',
 'SQL_SWIMMERS_BY_SESSION',
 'SQL_SWIMMERS_EVENTS_BY_SESSION']

In [3]:
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [4]:
[x for x in dir(list) if not x.startswith("__")]

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [5]:
import DBcm

db_details = "CoachDB.sqlite3"

In [6]:
from queries import SQL_SESSIONS

print(SQL_SESSIONS)

    select distinct ts from times

In [7]:
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL_SESSIONS)
    results = db.fetchall()
results

[('2023-11-08 18:49:55',),
 ('2023-11-15 16:10:52',),
 ('2023-11-15 16:13:24',),
 ('2023-11-15 16:13:28',),
 ('2023-11-15 16:18:24',),
 ('2023-11-15 16:19:18',),
 ('2023-11-15 16:19:55',),
 ('2023-11-15 16:21:08',),
 ('2023-11-15 16:27:19',),
 ('2023-11-15 16:27:51',),
 ('2023-11-15 16:30:38',),
 ('2023-11-15 16:30:39',),
 ('2023-11-15 16:34:17',)]

In [8]:
!python3 update_tables.py

In [9]:
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL_SESSIONS)
    results = db.fetchall()
results

[('2023-11-08 18:49:55',),
 ('2023-11-15 16:10:52',),
 ('2023-11-15 16:13:24',),
 ('2023-11-15 16:13:28',),
 ('2023-11-15 16:18:24',),
 ('2023-11-15 16:19:18',),
 ('2023-11-15 16:19:55',),
 ('2023-11-15 16:21:08',),
 ('2023-11-15 16:27:19',),
 ('2023-11-15 16:27:51',),
 ('2023-11-15 16:30:38',),
 ('2023-11-15 16:30:39',),
 ('2023-11-15 16:34:17',),
 ('2023-11-15 16:38:44',)]

In [10]:
from queries import SQL_SWIMMERS_BY_SESSION

print(SQL_SWIMMERS_BY_SESSION)

    select distinct swimmers.name, swimmers.age
    from times, swimmers
    where date(times.ts) = ? and
    times.swimmer_id = swimmers.id
    order by name

In [11]:
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL_SWIMMERS_BY_SESSION, ("2023-11-15",))
    results = db.fetchall()
results

[('Abi', 10),
 ('Blake', 15),
 ('Darius', 13),
 ('Darius', 8),
 ('Dave', 17),
 ('Katie', 9),
 ('Maria', 9),
 ('Owen', 15)]

In [12]:
from queries import SQL_SWIMMERS_EVENTS_BY_SESSION

print(SQL_SWIMMERS_EVENTS_BY_SESSION)

    select distinct events.distance, events.stroke
    from swimmers, events, times
    where times.swimmer_id = swimmers.id and
    times.event_id = events.id and
    (swimmers.name = ? and swimmers.age = ?) and
    date(times.ts) = ?

In [13]:
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL_SWIMMERS_EVENTS_BY_SESSION, ("Darius", 13, "2023-11-15",))
    results = db.fetchall()
results

[('100m', 'Back'), ('100m', 'Breast'), ('100m', 'Fly'), ('200m', 'IM')]

In [14]:
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL_SWIMMERS_EVENTS_BY_SESSION, ("Darius", 8, "2023-11-15",))
    results = db.fetchall()
results

[('50m', 'Back'), ('50m', 'Breast'), ('50m', 'Free')]

In [15]:
from queries import SQL_CHART_DATA_BY_SWIMMER_EVENT_SESSION

print(SQL_CHART_DATA_BY_SWIMMER_EVENT_SESSION)

    select times.time
    from swimmers, events, times
    where (swimmers.name = ? and swimmers.age = ?) and
    (events.distance = ? and events.stroke = ?) and
    swimmers.id = times.swimmer_id and
    events.id = times.event_id and
    date(times.ts) = ?

In [16]:
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL_CHART_DATA_BY_SWIMMER_EVENT_SESSION, ("Darius", 13, "100m", "Fly", "2023-11-15",))
    results = db.fetchall()
results

[('1:23.22',),
 ('1:21.07',),
 ('1:27.95',),
 ('1:27.95',),
 ('1:28.30',),
 ('1:30.96',),
 ('1:23.22',),
 ('1:21.07',),
 ('1:27.95',),
 ('1:27.95',),
 ('1:28.30',),
 ('1:30.96',),
 ('1:23.22',),
 ('1:21.07',),
 ('1:27.95',),
 ('1:27.95',),
 ('1:28.30',),
 ('1:30.96',),
 ('1:23.22',),
 ('1:21.07',),
 ('1:27.95',),
 ('1:27.95',),
 ('1:28.30',),
 ('1:30.96',),
 ('1:23.22',),
 ('1:21.07',),
 ('1:27.95',),
 ('1:27.95',),
 ('1:28.30',),
 ('1:30.96',),
 ('1:23.22',),
 ('1:21.07',),
 ('1:27.95',),
 ('1:27.95',),
 ('1:28.30',),
 ('1:30.96',),
 ('1:23.22',),
 ('1:21.07',),
 ('1:27.95',),
 ('1:27.95',),
 ('1:28.30',),
 ('1:30.96',),
 ('1:23.22',),
 ('1:21.07',),
 ('1:27.95',),
 ('1:27.95',),
 ('1:28.30',),
 ('1:30.96',),
 ('1:23.22',),
 ('1:21.07',),
 ('1:27.95',),
 ('1:27.95',),
 ('1:28.30',),
 ('1:30.96',),
 ('1:23.22',),
 ('1:21.07',),
 ('1:27.95',),
 ('1:27.95',),
 ('1:28.30',),
 ('1:30.96',),
 ('1:23.22',),
 ('1:21.07',),
 ('1:27.95',),
 ('1:27.95',),
 ('1:28.30',),
 ('1:30.96',),
 ('1:23.22',),
 ('1:21.07',),
 ('1:27.95',),
 ('1:27.95',),
 ('1:28.30',),
 ('1:30.96',)]

In [17]:
import data_utils

In [18]:
print([x for x in dir(data_utils) if not x.startswith("__")])

['DBcm', 'SQL_CHART_DATA_BY_SWIMMER_EVENT_SESSION', 'SQL_SESSIONS', 'SQL_SWIMMERS_BY_SESSION', 'SQL_SWIMMERS_EVENTS_BY_SESSION', 'db_details', 'get_session_swimmers', 'get_swim_sessions', 'get_swimmers_events', 'get_swimmers_times']

In [19]:
help(data_utils.get_swim_sessions)

Help on function get_swim_sessions in module data_utils:

get_swim_sessions()
    Return a tuple-list of unique session timestamps.

In [20]:
data_utils.get_swim_sessions()

[('2023-11-08 18:49:55',),
 ('2023-11-15 16:10:52',),
 ('2023-11-15 16:13:24',),
 ('2023-11-15 16:13:28',),
 ('2023-11-15 16:18:24',),
 ('2023-11-15 16:19:18',),
 ('2023-11-15 16:19:55',),
 ('2023-11-15 16:21:08',),
 ('2023-11-15 16:27:19',),
 ('2023-11-15 16:27:51',),
 ('2023-11-15 16:30:38',),
 ('2023-11-15 16:30:39',),
 ('2023-11-15 16:34:17',),
 ('2023-11-15 16:38:44',)]

In [21]:
data = data_utils.get_swim_sessions()
data

[('2023-11-08 18:49:55',),
 ('2023-11-15 16:10:52',),
 ('2023-11-15 16:13:24',),
 ('2023-11-15 16:13:28',),
 ('2023-11-15 16:18:24',),
 ('2023-11-15 16:19:18',),
 ('2023-11-15 16:19:55',),
 ('2023-11-15 16:21:08',),
 ('2023-11-15 16:27:19',),
 ('2023-11-15 16:27:51',),
 ('2023-11-15 16:30:38',),
 ('2023-11-15 16:30:39',),
 ('2023-11-15 16:34:17',),
 ('2023-11-15 16:38:44',)]

In [23]:
data = data_utils.get_swimmers_events("Darius", 8, "2023-11-15")
data

[('50m', 'Back'), ('50m', 'Breast'), ('50m', 'Free')]

In [25]:
data = data_utils.get_session_swimmers("2023-11-15")
print(data)

[('Abi', 10), ('Blake', 15), ('Darius', 13), ('Darius', 8), ('Dave', 17), ('Katie', 9), ('Maria', 9), ('Owen', 15)]